/* Style .css */
@font-face {
    font-family: myfont;
    src: url(yugothil.ttf);
}

@font-face {
    font-family: apple_r;
    src: url(apple_r.ttf);
}

@font-face {
    font-family: apple_b;
    src: url(apple_b.ttf);
}

@font-face {
    font-family: apple_t;
    src: url(apple_t.ttf);
}


body{
    font-family:myFont;
    margin:0px;
    padding:0px;
}

::-webkit-scrollbar {
    width: 8px;
    height:0px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: 1px solid slategrey;
    border-radius: 3px;
}

a{text-decoration:none; color:#222;}

section{position:absolute; left:320px; top:0px; width:calc(100% - 320px); height:calc(100% - 80px);   transition:all 0.2s; margin-top:80px; margin-bottom:300px;}

section .section_header{position:relative; left:0px; top:20px; width:calc(100% - 0px); height:120px;  border-bottom:1px solid rgba(0,0,0,0.05);}

section .section_header .section_h_img{position:absolute; text-align:center; left:50px; top:10px; width:80px; height:80px; background:#fff; border-radius:3px;}
section .section_header .section_h_img i{color:#3f6ad8; font-size:40px; margin-top:20px;}

section .section_header .section_h_value{position:absolute; left:130px; top:10px; width:calc(100% - 530px); height:80px;}
section .section_header .section_h_value h2{font-family:apple_t; margin:0px; font-size:26px; margin-left:20px; margin-top:10px;}
section .section_header .section_h_value p{font-family:apple_t; margin-left:20px; margin-top:10px;}

section .section_header .section_h_path{position:absolute; right:50px; top:35px; height:30px; }
section .section_header .section_h_path .home_img{position:absolute; left:0px; top:0px; width:30px; height:30px; text-align:center;}
section .section_header .section_h_path .home_img i{margin-top:6px; color:#3f6ad8;}
section .section_header .section_h_path p{position:relative; margin-left:40px; margin-top:6px; font-size:14px; font-weight:bold; font-family:apple_t;}
section .section_header .section_h_path p span{margin-left:8px; margin-right:8px;}

section .section_body{position:relative; left:50px; top:30px; width:calc(100% - 100px); height:calc(100% - 160px); }

.hidden_input{display:none;}

/******************************** ALERTS ***********************************/



/*****************************END OF ALERTS ********************************/



/******************************** mobile ***********************************/

@media screen and (max-width: 1200px){
    section{left:0px; width:100%;}
    section .section_body{left:20px; width:calc(100% - 40px);}
    section .section_header .section_h_img{left:20px;}
    section .section_header .section_h_value{left:100px; width:calc(100% - 120px);}
}

@media screen and (max-width: 800px){
    section .section_header .section_h_value p,
    section .section_header .section_h_path{display:none;}
    section .section_body{left:0px; width:calc(100% - 0px);}
}

